<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css.css" rel="stylesheet" >
</head>
<body>
    <div class="main-page">
        <div class="main-page__left-table">
            <table>
                <tr>
                    <% let keys = Object.keys(employees[0])%>
                    <% keys.forEach((key) => { %>
                    <th><%=key%></th>
                    <%})%>
                </tr>
                <% let j = 0%>
                <% employees.forEach((employee) => { %>
                <tr>
                    <%j=0%>
                    <% keys.forEach((key) => {%>

                    <% if(j++ === 4) {%>
                        <%let date = new Date(Date.parse(employee[key]))%>
                        <td><%= date.getDate() + '/' + date.getMonth()+ '/' + date.getFullYear()   || 'null' %></td>
                    <%} else {%>
                            <td><%= employee[key] || 'null' %></td>

                        <%}%>

                    <%})%>
                </tr>
                <%})%>
            </table>
            <div class="main-page__add-list main-page__add-to-dept">
                <form class="add-to-dept__form" method="post" action="/addemp">
                    <input type="hidden" name="token" value="<%=tokenEmp%>"/>
                    <div class="add-to-dept__data"><span class="add-to-dept__description">Add new dept</span></div>
                    <label class="add-to-dept__data"><span>ENAME</span><input type="text" name="ENAME"></label>
                    <label class="add-to-dept__data"><span>JOB</span><input type="text" name="JOB"></label>
                    <label class="add-to-dept__data"><span>MGR</span><input type="text" name="MGR"></label>
                    <label class="add-to-dept__data"><span>HIREDATE</span><input type="text" name="HIREDATE" placeholder="DD-MM-YYYY"></label>
                    <label class="add-to-dept__data"><span>SAL</span><input type="text" name="SAL"></label>
                    <label class="add-to-dept__data"><span>COMM</span><input type="text" name="COMM"></label>
                    <label class="add-to-dept__data"><span>DEPTNO</span><input type="text" name="DEPTNO"></label>
                    <button class="add-to-dept__submit" type="submit">Add row</button>
                </form>
            </div>
            <div class="main-page__pagination left-table__pagination">
                <ul class="left-table__pagination-list">
                    <% for(let i = 1;i <= empCount; i++) {%>
                    <li class="left-table__pagination-item">
                        <a class="left-table__pagination-link" href="/?pageemp=<%=i%>"><%=i%></a>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>

        <div class="main-page__right-table">
            <table>
                <tr>
                    <% keys = Object.keys(depts[0])%>
                    <% keys.forEach((key) => { %>
                    <th><%=key%></th>
                    <%})%>
                </tr>
                <% depts.forEach((dept) => { %>
                    <tr>
                        <% keys.forEach((key) => {%>
                            <td><%= dept[key] || 'null' %></td>
                        <%})%>
                    </tr>
                <%})%>
            </table>
            <div class="main-page__pagination main-page__add-to-dept">
                <form class="add-to-emp__form" method="post" action="/adddept">
                    <input type="hidden" name="token" value="<%=tokenEmp%>"/>
                    <div class="add-to-dept__data">
                        <span class="add-to-dept__description">Add new dept</span>
                    </div>
                    <label class="add-to-dept__data">
                        <span>DNAME</span>
                        <input type="text" name="DNAME">
                    </label>
                    <label class="add-to-dept__data">
                        <span>LOC</span>
                        <input type="text" name="LOC">
                    </label>
                    <button class="add-to-dept__submit" type="submit">Add row</button>
                </form>
            </div>
            <div class="main-page__pagination right-table__pagination">
                <ul class="left-table__pagination-list">
                    <% for(let i = 1;i <= deptCount; i++) {%>
                    <li class="left-table__pagination-item">
                        <%if( i === currentPageDept){%>
                            <a class="left-table__pagination-link left-table__pagination-link--disabled"
                               href="/?pagedept=<%=i%>"><%=i%></a>
                        <%} else {%>
                        <a class="left-table__pagination-link"  href="/?pagedept=<%=i%>"><%=i%></a>
                        <%}%>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
        <div class="main-page__change-password">
            <form  class="main-page__change-password-form" method="post" action="/change" >
                <label>
                    <span class="main-page__change-password-description">Enter password to change</span>
                    <input class="main-page__change-password-input" type="password" id='my_password' name="password" required>
                </label>
                <label>
                    <input  class="main-page__change-password-button" type="button" onclick="submitForm()" value="Change password">
                </label>
                <p class="main-page__change-password-text">Password was changed</p>
            </form>
        </div>
    </div>
<script>
    function submitForm() {
        var http = new XMLHttpRequest();
        http.open("POST", '/change', true);
        const params = {
            password: document.querySelector('#my_password').value
        };
        http.setRequestHeader('Content-Type', 'application/json');
        http.send(JSON.stringify(params));
        http.onload = function() {
            document.querySelector('.main-page__change-password-text').style.display = 'block';
        }
        setTimeout(() => {
            document.querySelector('.main-page__change-password-text').style.display = 'none';
        }, 5000)
    }
</script>
</body>
</html>

