<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/auth.css" rel="stylesheet" >
</head>
<style>

</style>
<body>
<div class="page-wrapper">
    <form class="main-page__form" action="" method="post">
        <fieldset>
            <legend class="main-page__form-name">Register</legend>
            <label>
                <span class="main-page__form-description">Enter your login</span>
                <input class="main-page__form-input" name="login" type="text">
            </label>
            <label>
                <span class="main-page__form-description">Enter your password</span>
                <input class="main-page__form-input" name="password" type="password">
            </label>
        </fieldset>
        <button type="submit">Login to site</button>
    </form>
</div>
</body>
</html>