body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    height: 100vh;
    background: linear-gradient(lightyellow, lightblue);
}
.main-page__form {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: snow;
    border-radius: 10px;
}
.main-page__form-input {
    border: solid 1px grey;
    border-radius: 5px;
    height: 25px;
    text-align: center;
    width: inherit;
    background-color: lightgray;
}
.main-page__form-description {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.main-page__form-name {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

fieldset {
    margin: 0 auto;
    width: 200px;
    color: darkblue;
    font-size: 14px;
    border: none;
}
label {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
label input {
    display: block;

}

button {
    margin: 0 auto;
    padding: 10px 50px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: cornflowerblue;
}