.main-page {
    margin: 0;
    padding: 0;
}

.main-page__change-password-text {
    display: none;
}

.main-page__left-table th,
.main-page__right-table th{
    width: 130px;
    color: white;
    background-color: darkslateblue;
    text-align: center;
}

.main-page__left-table td,
.main-page__right-table td {
    width: 130px;
    height: 40px;
    background-color: antiquewhite;
    text-align: center;

}

.add-to-dept__data {
    display: inline;
    height: 50px;
    width: 132px;
    margin-left: 1px;
}

.add-to-dept__form {
    display: flex;
}

.add-to-dept__data,
.add-to-emp__form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add-to-dept__data label {
    text-align: center;
    display: block;
}

.add-to-dept__data input {
    display: block;
    width: 120px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

.add-to-dept__submit {
    margin-top: 10px;
    margin-left: 30px;
    background: darkslateblue;
    color: white;
    border: 1px solid grey;
    border-radius: 15px;
}

.left-table__pagination {
    width: 1150px;
}

.left-table__pagination-list {
    display: flex;
    margin: 25px;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.left-table__pagination-item {
    padding-left: 5px;
    text-align: center;
}

.left-table__pagination-link {
    padding: 5px;
    text-decoration: none;
    color: black;
    border: solid 1px grey;
    border-radius: 5px;
    background: aliceblue;
}

.add-to-dept__description {
    padding-top: 25px;
}

.left-table__pagination-link:active {
    background: darkslateblue;
}

.main-page__left-table table,
.main-page__right-table table {
    margin: 0 auto;
}

.main-page__pagination,
.main-page__add-list {
    margin: 0 auto;
}

.add-to-dept__form {
    width: 1100px;
    margin: 0 auto;

}


.main-page__change-password-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: beige;
    border-radius: 10px;
}

.main-page__change-password {
    width: 400px;
    margin: 0 auto;
}

.main-page__change-password-description {
    padding: 20px;
}

.main-page__change-password-input {
    display: block;
    width: 120px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
}

.main-page__change-password-button {
    margin-top: 10px;
    background: orange;
    color: white;
    border: 1px solid grey;
    border-radius: 15px;
}